<%@ Control Language="VB"  AutoEventWireup="false" CodeFile="checkout_dataprotection.ascx.vb" Inherits="checkout_dataprotection"  %>

<%@ Register Assembly="PSWebEnrolmentKit" Namespace="CompassCC.ProSolution.PSWebEnrolmentKit"
    TagPrefix="cc1" %>

<br /><br />
                <ol class="breadcrumb">
                  <li><a href="default.aspx">Home</a></li>
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout.ascx">Checkout</a></li>
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout_enrolments.ascx">Personal Details</a></li>
                   
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout_enrolments2.ascx">Further Details</a></li>
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout_parent_guardian.ascx">Parent / Guardian</a></li>
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout_school_employer.ascx">School / Employer</a></li>
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout_prior_attainment.ascx">Prior Attainment</a></li>
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout_quals_on_entry.ascx">Quals on Entry</a></li>
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout_references.ascx">References</a></li>
                    <li><a href="webenrolment.aspx?page=~/webcontrols/checkout_employment.ascx">Employment</a></li>
                  <li class="active">Declaration</li>
                </ol>


<h3>Declaration<small> Please take time to read through this declaration before proceeding</small></h3>
<br /><br />
    <section>I understand that courses may be cancelled or re-scheduled if the required 
        minimum enrolment numbers are not reached and that although information is 
        correct at the time it is given, circumstances can lead to changes.
   
            <br /><br />
            I understand it is important for the college to have up-to-date student 
        records and I agree to inform my tutor if my address, telephone number or other 
        details change.
   
         <br />   <br />
          
    I undertake to conform to the Regulations of the College. If tuition fees 
        are not paid at enrolment, I agree to be invoiced.
    </section>        
        <br />
    <section>
            I understand that for students under 18 years old on 1st September 2008, 
        specified information, eg academic progress, unsatisfactory behaviour, will be 
        provided to parents/guardians as a matter of course. For students reaching age 
        18 before the end of the course, such information will be provided to 
        parents/guardians unless student specifically requests otherwise in writing to 
        the group tutor. For students released or sponsored by employers to attend 
        courses, specified information, eg academic progress, attendance, will be 
        provided on request for students aged 14-16 released from school to attend 
        courses, specified information eg. academic progress, attendance, will be 
        provided to the school. I give my consent for the College to contact other FE or 
        HE Institutions on completion of my course, to confirm my progression route.
    </section>
<br />
    <section>
	<h4>Data Protection Statement</h4>
    <p>Compass College is registered under the Data Protection Act 1998. I understand that 
        data collected by the college will be used for educational administration, 
        guidance, statistical, research and health and safety purposes. Processing this 
        data will enable the performance of the College to be monitored and for the 
        College to operate effectively and plan future provision. The data may be shared 
        with my former school(s) and other educational institutions, Compass Learning 
        Partnership. Children Services Authorities Connexions, Careers Service, 
        Department for Education and Skills, Learning and Skills Council and my local 
        authority. Data will also be sent to Examination Boards and other Awarding 
        Bodies to be processed for the purpose of registration, entry, marking, 
        assessment and the issue of results and certificates. Information may be sent to 
        the above agencies electronically via the Internet. Examination results may be 
        published in the local newspapers. Examination results and destination after 
        leaving College may also be shared with my former school(s) and other 
        educational institutions. If I wish to discuss the matter further I can contact 
        the Data Protection Officer.</p>
	</section>
<br />
    <section>
        <h4>Data Protection Statement from the Learning and Skills Council</h4>
    <cite>Data Protection Act 1998 &#8211;</cite>
        <blockquote>The information you provide on this form will be 
        passed to the Learning and Skills Council (the LSC). The LSC is responsible for 
        funding, planning and encouraging education and training for young people and 
        adults in England, and is registered under the Data Protection Act 1998. The 
        information you provide will be shared with other organisations for the purpose 
        of administration, careers and other guidance, and statistical and research 
        purposes. Other organisations with which we will share information include, the 
        Department for Children, Schools &amp; Families, the Department for Innovation, 
        Universities &amp; Skills, Connexions, Higher Education Statistics Agency, Higher 
        Education Funding Council for England, educational institutions and 
        organisations performing research and statistical work on behalf of the LSC or 
        its partners. The LSC also administers the learner registration service (LRS) 
        which will use your information to create &amp; maintain a unique learner number 
        (ULN). The LSC is also a co-financing organisation and uses European Social 
        Funds from the European Union to directly or indirectly part-finance learning 
        activities, helping develop employment by promoting employability, business 
        spirit and equal opportunities, and investing in human resources. Further 
        information about partner organisations and the ULN and what they do, may be 
        found at www. lsc. gov. uk/ providers/ data/ help, and by following the links to 
        data protection. 
        </blockquote>
     </section>
 <br />
    <section>
                        At no time will your personal 
        information be passed to organisations for marketing or sales purposes. From 
        time to time students are approached to take part in surveys by mail and phone, 
        which are aimed at enabling the LSC and its partners to monitor performance, 
        improve quality and plan future provision.  
              

                    
<br />
                
                        Compass College, the LSC or its partners may wish to contact you from time to time 
                        about courses, or learning opportunities relevant to you.
            
                    
                <p>&nbsp;<p>I give my consent to the College to use my image for 
    educational and publicity purposes. This could be in printed form, on the 
    College website, as a photograph, video image, or student card. No personal 
    contact details will be given. </p>
       </section>  

     
         <br />
      <section>                 
	<h4>Declaration</h4>
	<p>I agree to Compass 
        College processing personal data contained in this form, or other data, which 
        the College may obtain from me or other people. I agree to the processing of 
        such data for any purpose connected with my studies, or my health and safety 
        whilst on the premises, or for any other legitimate reason. I confirm that the 
        information I have given is true and accurate to the best of my knowledge. I 
        have read and agree to uphold the student contract, computer users contract, 
        learner contract Health and Safety and have understood the refund policy. This 
        activity may have been directly or indirectly part financed by the European 
        Union through European Social Fund. A Learning Support Record, where 
        appropriate, has been completed by enrolling tutor and attached to enrolment 
        form. Please sign in pen. Both the student signature and tutor signature are 
        required to enable LSC funding to be claimed. </p>
    </section> 

<br />
    <p> <asp:CheckBox ID="chkConfirm" runat="server" 
            Text=" I confirm that I have read the declaration above" Font-Bold="True" 
            CausesValidation="True" />
    </p>
    <cc1:CCCButton id="btnBack" runat="server" Text="Back" ImageResource="btnBack" LinkResource="checkout_employment"/>
        <cc1:CCCButton ID="btnContinue" runat="server" Text="Continue" ImageResource="btnContinue" CausesValidation="true" />
   
    <br />
    <asp:ValidationSummary ID="ValidationSummary1" runat="server" CssClass="alert alert-danger" ForeColor="" />


